<section class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    <%- include('partials/card-2021003') %> <%- include('partials/card-2021006')
    %> <%- include('partials/card-2021010') %> <%-
    include('partials/card-2021011') %> <%- include('partials/card-2021012') %>
    <%- include('partials/card-2021015') %> <%- include('partials/card-2021018')
    %>
  </div>
</section>
<%- include('partials/contacto') %>
