<section class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    <%- include('partials/card-2021001') %> <%- include('partials/card-2021002')
    %> <%- include('partials/card-2021005') %> <%-
    include('partials/card-2021006') %> <%- include('partials/card-2021007') %>
    <%- include('partials/card-2021009') %> <%- include('partials/card-2021013')
    %> <%- include('partials/card-2021014') %> <%-
    include('partials/card-2021016') %> <%- include('partials/card-2021017') %>
    <%- include('partials/card-2021018') %> <%- include('partials/card-2021019')
    %>
  </div>
</section>
<%- include('partials/contacto') %>
