<%- include('partials/index-hero-text') %>
<section class="container my-5">
  <div class="text-light font-encabezados mb-4 fs-1">
    Propiedades destacadas
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 row-cols-xxl-4 g-4">
    <%- include('partials/card-2021001') %> <%- include('partials/card') %> <%-
    include('partials/card') %> <%- include('partials/card') %>
  </div>
</section>
<%- include('partials/acerca-de-nosotros') %> <%- include('partials/asesores')
%>
