<%- include('partials/index-hero-text') %>
<section class="container my-5">
  <div class="text-light font-encabezados mb-4 fs-1 text-center">
    Propiedades destacadas
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-5">
    <%- include('partials/card-2021002') %> <%- include('partials/card-2021006')
    %> <%- include('partials/card-2021009') %>
  </div>
</section>
<%- include('partials/acerca-de-nosotros') %> <%- include('partials/asesores')
%> <%- include('partials/contacto') %>
